{% extends "layout.html" %}

{% block title %}
Catering Choices
{% endblock %}

{% block main%}
<style>
    .navbar {
      display: flex;
      justify-content: center;
      background-color: #ccc; /* Set the background color for the navbar */
    }

    .navbar-item {
      margin: 0 10px; /* Adjust the spacing between the navbar items */
      color: #fff; /* Set the text color for the navbar items */
      font-weight: bold;
    }

    .navbar-item a {
      text-decoration: none;
      color: white; /* Set the text color for the navbar links */
    }

    .navbar-item-blue {
      background-color: blue; /* Set the background color for the first navbar item */
    }

    .navbar-item-green {
      background-color: green; /* Set the background color for the second navbar item */
    }
  </style>

    <img src="/static/statue4.jpg" alt="Image"width="600" height="600">

{% endblock %}
